services:

  jekyll:
    image: jekyll/jekyll:latest
    command: jekyll serve --watch --force_polling --config "_config.yml,_config_dev.yml"
    volumes:
      - ./:/app
    ports:
      - "4002:4002"
    working_dir: /app
    environment:
      JEKYLL_ENV: development

  quest-validator:
    build:
      context: .
      dockerfile: Dockerfile
    command: python3 /app/test/quest-validator/quest_validator.py
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      PYTHONPATH: /app
      PYTHONUNBUFFERED: 1
      PATH: "/opt/venv/bin:$PATH"

  quest-network-validator:
    build:
      context: .
      dockerfile: Dockerfile
    command: python3 /app/scripts/validate-quest-network.py
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      PYTHONPATH: /app
      PYTHONUNBUFFERED: 1
      PATH: "/opt/venv/bin:$PATH"

