<!--
  file: algolia.html
  sources: 
    https://www.algolia.com/doc/onboarding/,
    https://www.algolia.com/doc/guides/building-search-ui/what-is-instantsearch/js/#the-instantsearch-instance,
    https://www.algolia.com/doc/guides/building-search-ui/getting-started/js/,
    https://www.algolia.com/doc/guides/building-search-ui/installation/js/
  TODO: Uplift Algolia functionality
-->

<!-- https://www.algolia.com/doc/guides/building-search-ui/installation/js/ -->

<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.23.3/dist/algoliasearch-lite.umd.js" integrity="sha256-1QNshz86RqXe/qsCBldsUu13eAX6n/O98uubKQs87UI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.68.1/dist/instantsearch.production.min.js" integrity="sha256-AEialBwCKmHcqym8j00nCLu/FDy3530TKG9n6okJobM=" crossorigin="anonymous"></script>


<script>
const searchClient = algoliasearch('{{ site.algolia.application_id }}', '{{ site.algolia.search_only_api_key }}');

const search = instantsearch({
  indexName: '{{ site.algolia.index_name }}',
  searchClient,
  searchFunction(helper) {
    const container = document.querySelector('#hits');
    if (helper.state.query === '') {
      container.style.display = 'none';
      return;
    }
    container.style.display = 'block';
    helper.search();
  }
});

search.addWidgets([
  instantsearch.widgets.searchBox({
    container: '#searchbox',
  }),

  instantsearch.widgets.hits({
    container: '#hits',
    templates: {
      item: function(hit) {
        return `
          <div>
            <h2>${hit.title}</h2>
            <p>${hit.content}</p>
          </div>
        `;
      }
    }
  })
]);

search.start();

</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.1.0/themes/satellite-min.css" integrity="sha256-p/rGN4RGy6EDumyxF9t7LKxWGg6/MZfGhJM/asKkqvA=" crossorigin="anonymous">

