<!-- banding.html
    _includes/branding.html
    logo
    title/sub-title
-->

    <!-- Logo -->
    {% capture logo_path %}{{ site.logo }}{% endcapture %}
    <div>
    <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}"></a>
    </div>

    <!-- Title Section  -->
    <div>
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
        {{ site.masthead_title | default: site.title }}
        </a>
        {% if site.subtitle %}
        <br>
        <a class="sub-title" href="{{ site.subtitle_url:site.port | absolute_url }}">
            <span class="site-subtitle">{{ site.subtitle }}</span>
        {% endif %}
        </a>
    </div>