<!-- 
  file: banding.html
  path: _includes/branding.html
  inclues: none
  description:  
-->
<!-- Color Schema Override 
    TODO: Add a poline plug-in to generate color scheme
    https://meodai.github.io/poline/

    primary: #a11111
    main: #007bff
    secondary: #6c757d

    ## Logo
        Red - #a11111
        Yellow - #ffe900
        Teal - #376986
        Blue - #007bff
 -->

<!-- Title Section  -->

<div class="navbar-brand">
    <a class="nav-link" href="{{ site.logo_link}}{{ page.url }}">
        <i class="d-sm-inline d-md-none {{ site.default_icon }} {{ site.default_icon }}-{{ site.title_icon | default: site.powered_by.default }}" aria-hidden="true"></i>
        <!-- display name if there's enough space, else icon only -->
        <span class="d-none d-md-inline"> 
            {{ site.title | default: site.title }}
        </span>
</div>

<div class="navbar-brand">
    <!-- If a subtitle exsits -->
    {%- if site.subtitle -%}
    <a class="nav-link" href="http://localhost:{{ site.port }}{{ page.url }}">
        <i class="d-sm-inline d-md-none {{ site.default_icon }} {{ site.default_icon }}-{{ site.subtitle_icon | default: site.powered_by.default }}" aria-hidden="true"></i>
        <span class="d-none d-md-inline"> 
            {{ site.subtitle }}
        </span>
    </a>
    {% endif %}
</div>