
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/docs.min.js"></script>

<!-- {%- include copy-code-script.html -%} 
Already part of bootstrap js (clipboard-js.scss)
-->
