<!-- 
  _includes/footer.html 
  Social Links and Branding
-->

<footer class="bd-footer container-xxl d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-sm d-flex align-items-center">
    
    <!-- Frameworks/Engines and Affiliations -->
   
        <ul class="nav col-sm justify-content-end list-unstyled d-flex">
        
        <!-- Search for Site Frameworks in config file -->
      <span class="">
        &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. Powered by: 
      </span>
      {% for power in site.powered_by %}
      <li class="btn ">
        <a href="{{ power.url }}" rel="nofollow">
          <i class="{{ site.default_icon }} {{ power.icon | default: site.powered_by.default }}" aria-hidden="true"></i>
        <!-- display name if there's enough space, else icon only -->
          <span class="d-none d-md-inline"> 
            {{ power.name }}
          </span>
        </a>
        </li>
        {% endfor %}
        
      <!-- Search for Site Affiliation links in config file -->
      {% for link in site.links %}
      <li class="btn ">
        <a href="{{ link.url }}" rel="nofollow">
          <i class="{{ site.default_icon }} {{ link.icon | default: site.links.default }}" aria-hidden="true"></i>
        <!-- display name if there's enough space, else icon only -->
          <span class="d-none d-md-inline"> 
            {{ link.label }}
          </span>
        </a>
        </li>
      {% endfor %}
      
      <!-- RSS Feed -->
      <li class="btn">
        <a href="{{ '/feed.xml' | relative_url }}">
          <i class="{{ site.default_icon }} bi-rss" aria-hidden="true"></i>
          <!-- https://icons.getbootstrap.com/icons/rss/ -->
          <span class="d-none d-md-inline">
            {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}
          </span>
        </a>
      </li>
    </ul>

  </div>
</footer>
 
<!-- Boot Strap source location -->

<!-- <script src="{{ '/assets/js/bootstrap.bundle.js'| relative_url }}"></script> -->
<!-- <script src="{{ '/assets/js/bootstrap.bundle.js.map'| relative_url }}"></script> -->
<!-- <script src="{{ '/assets/js/bootstrap.js'| relative_url }}"></script> -->
<!-- <script src="{{ '/assets/js/bootstrap.js.map'| relative_url }}"></script> -->
<!-- <script src="{{ '/assets/js/bootstrap.esm.js'| relative_url }}"></script> -->

<script src="{{ '/assets/js/docs.min.js' | relative_url }}"></script>
