<!-- 
  _includes/footer.html 
  Social Links and Branding
-->

<footer class="container-xxl d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-sm d-flex align-items-center">
    
    <!-- Branding and Powered By: -->
    <span class="">
      &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. Powered by 
      {% for power in site.powered_by %}
      <a href="{{ power.url }}" rel="nofollow">{{ power.name }} -</a>
      {% endfor %}
    </span>
    
    <ul class="nav col-sm justify-content-end list-unstyled d-flex">

      <!-- Search for Site Identity links in config file -->
      {% for link in site.links %}
      <li class="ms-3">
        <i class="{{ site.fa_default }} {{ link.icon | default: site.links.default }}" aria-hidden="true">
        </i>
        <!-- display name if there's enough space, else icon only -->
        <a href="{{ link.url }}" rel="nofollow noopener noreferrer">
          <span class="d-none d-md-inline"> 
            {{ link.label }}
          </span>
        </a>
        </li>
      {% endfor %}
      
      <!-- RSS Feed -->
      <li class="ms-3">
        <a href="{{ '/feed.xml' | relative_url }}">
          <i class="fas fa-rss-square" aria-hidden="true">
          </i>
          <span class="d-none d-md-inline">
            {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}
          </span>
        </a>
      </li>
    </ul>

  </div>
</footer>
 
<!-- Boot Strap source location -->

<!-- <script src="{{ '/assets/js/bootstrap.bundle.js'| relative_url }}"></script> -->
<!-- <script src="{{ '/assets/js/bootstrap.bundle.js.map'| relative_url }}"></script> -->
<!-- <script src="{{ '/assets/js/bootstrap.js'| relative_url }}"></script> -->
<!-- <script src="{{ '/assets/js/bootstrap.js.map'| relative_url }}"></script> -->
<!-- <script src="{{ '/assets/js/bootstrap.esm.js'| relative_url }}"></script> -->

<script src="{{ '/assets/js/docs.min.js' | relative_url }}"></script>