<!-- includes/head.html
-->

<!-- Custom JS Scripts -->
<script src="/assets/js/myScript.js"></script>


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- includes/seo.html -->
{% include seo.html %}

<script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- Styles -->    

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!-- Tailwing CDN -->
    
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

    <!-- Font Awesome -->
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/custom.css">

<!-- JQuery -->
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"></noscript>

<!-- MathJax for LaTex -->

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<!-- SEO  https://analytics.google.com/ -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NN8P7RZ');</script>
    <!-- End Google Tag Manager -->

    <!-- Meta data attributes -->
    {% if page.title %}
        <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.excerpt %}
        <meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.date %}
        <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">
    {% endif %}
    {% if page.last_modified_at %}
        <meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">
    {% endif %}

    <!-- Google Analytics  -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZBDKNMC168"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ZBDKNMC168');
        </script>

<!-- Nano Bar -->

<script src="/assets/js/nanobar.min.js"></script>


      {% include google-analytics.html %}
