<!-- 
    Header
    _includes/branding.html, _includes/navbar.html
 -->

<header class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top bottom-shadow" role="banner">
    <div class="container-xxl">

        <!-- include branding.html -->
            {% include branding.html %}
        
            <!-- Dark Mode Switch -->
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="darkMode">
                <label class="form-check-label" for="darkMode">
                </label>
                <i class="fa-solid fa-circle-half-stroke"></i>
            </div>

        <!-- Settings Collapse button -->
            <div class="align-center">
                <i type="button" 
                    data-toggle="collapse" 
                    data-target=".breadcrumbs-intro" 
                    aria-expanded="false" 
                    aria-controls="" 
                    class="fas fa-cog">
                </i>
            </div>
            

        <!-- include navbar.html -->
            {% include navbar.html %}

    </div>
</header>