<!-- 
  Masthead
  _includes/navbar.html 
-->


<!-- Header Structure -->

  <!-- Logo -->
  {% capture logo_path %}{{ site.logo }}{% endcapture %}
  <div>
    <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}"></a>
  </div>
  
  <!-- Title Section  -->
  <div>
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      {{ site.masthead_title | default: site.title }}
      {% if site.subtitle %}
      <br>
      <span class="site-subtitle">{{ site.subtitle }}</span>
      {% endif %}
    </a>
  </div>

<!-- Home Collapse button -->
  <div>
    <button type="button" 
            data-toggle="collapse" 
            data-target=".breadcrumbs-intro" 
            aria-expanded="false" 
            aria-controls="" 
            class="collapsed">
      <span class="oi" data-glyph="chevron-bottom">Hi</span>
    </button>
  </div>

{% include navbar.html %}

    <!-- Search Form -->
    
    <div class="container">
      <div id="search-searchbar">
      </div>
    </div> 

      
        
