<!-- 
  file: navbar.html
  path: /includes/navbar.html
  includes: 
 -->

<!-- Navigation Links - Offcanvas -->
<div class="offcanvas offcanvas-end col-lg-2" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbar"> 

<!-- Main Navigation Header - Offcanvas -->
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="mainNavOffcanvasLabel">Main Navigation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
    </div>

<!-- Main Navigation List - Offcanvas  -->
<ul class="navbar-nav offcanvas-body justify-content-lg-center text-start" >
    {%- for link in site.data.navigation.main -%}
        <div class="btn-group">
            <a href="{{ link.url | relative_url }}" class=" nav-link">{{ link.title }}</a>
            {% if link.sublinks %}
                <button type="button" class="nav-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {%- for sublink in link.sublinks -%}
                        <a class="dropdown-item" href="{{ sublink.url | relative_url }}">{{ sublink.title }}</a> 
                    {%- endfor -%}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</ul>
</div>