<!-- 
  navbar.html
 -->

<!-- Home Link -->
    {%- for home in site.data.navigation.home -%}
    <a class="btn flex-grow-1" href="{{ home.url | relative_url }}">
        <i class="{{ site.default_icon}} {{ home.icon }}" ></i>
    </a>
    {% endfor %}
<!-- Navigation Links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
    <ul class="visible-links navbar-nav">
        {%- for link in site.data.navigation.main -%}
            <li class="nav-item dropdown">
                <a {% if link.sublinks %} 
                         href="#" id="navbarDropdown" 
                         role="button" 
                         data-toggle="dropdown" 
                         class="nav-link dropdown-toggle" 
                    {% endif %}
                         href="{{ link.url | relative_url }}"
                    >{{ link.title }}
                </a>
            <!-- Drop down links   -->
                {% if link.sublinks %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {%- for sublink in link.sublinks -%}
                            <a class="dropdown-item" href="{{ sublink.url | relative_url }}">{{ sublink.title | 'test' }}</a> 
                        {%- endfor -%}
                    </div>
                {% endif %}
            </li>
        {%- endfor -%}
    </ul>
</div>