<!-- 
  file: sidebar.html 
  path: _includes/sidebar.html
  includes: nav_list.html 
-->

<!-- Sidebar Left Navigation - Offcanvas -->
<div class="offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebar" aria-labelledby="bdSidebarOffcanvasLabel">

  <!-- Sidebar Header - Offcanvas -->
  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Browse docs</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdSidebar"></button>
  </div>

  <!-- Left Sidebar Nav List - Offcanvas  -->
  <div class="offcanvas-body overflow-auto">

  <!-- Dynamic listing of notes in side bar -->
  {% if page.collection == "notes" %}
  <div class="list-group" id="sidebar-content">
    {% assign folders = site.notes | where_exp: "item", "item.path contains 'index.md'" | sort: 'path' %}
    {% include sidebar-folders.html folders=folders %}
  </div>
  {% endif %}

    <!-- Include nav_list.html -->
    {% if page.sidebar.nav %}
    <nav class="w-100">
        {% include nav_list.html nav=page.sidebar.nav %}
    </nav>
    {% endif %}
  </div>
</div>
