<!-- 
  file: sidebar-right.html 
  path: _includes/sidebar-right.html
  includes: nav_list.html, toc.html
-->

<div class="d-flex justify-content-end">
  <!-- [x] TODO: Need to fix the TOC to be hidden in mobile view -->
  <!-- Button in mobile view -->
  <button class="col-2 btn bg-primary bg-opacity-25 btn-link text-decoration-none bd-toc-toggle d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#tocContents" aria-expanded="false" aria-controls="tocContents">
    <i class="bi bi-list-ul"></i>
  </button>
</div>

<!-- Right sidebar container -->
<div class="d-flex justify-content-end">

  <!-- Table of contents -->
  <div class="toc-collapse collapse" id="tocContents">
    <nav class="" id="TableOfContents">
    <!-- TOC tile -->
    <div>
      <strong class="">
        <i class="fas fa-file-alt"></i>
        On this page
      </strong>
    </div>

    <!-- TOC list -->
      {% include toc.html sanitize=true html=content h_min=1 h_max=3 class="list-group-flush" item_class="list-group-item" anchor_class="" skip_no_ids=true %}
    </nav>
  </div>

  <!-- Back to Top -->
  <div>
    <button onclick="topFunction()" id="backToTopBtn" title="Go to top">
      <span class="arrow">&uarr;</span>
      <span class="text">Back to Top</span>
    </button>
  </div>
  
</div>
  