-------------------------------------------------------------------------------------------------------------------
/* Customize theme
/* ------------------------------------------------------------------------------------------------------------------- */

/* Remove padding so particles fill screen */
.masthead {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  
  /* Add background and shadow to navbar when scrolling */
  #mainNav.navbar-shrink {
    background-color: white;
    box-shadow: 0px 0px 30px rgba(44, 62, 80, 0.5);
  }
  
  /* Set navbar brand color */
  #mainNav .navbar-brand {
    color: #1abc9c;
  }
  
  /* Underline navbar brand on hover */
  #mainNav .navbar-brand:hover {
    text-decoration: underline;
  }
  
  /* Set navbar link color */
  #mainNav .navbar-nav li.nav-item a.nav-link {
    color: #2c3e50;
  }
  
  #mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #2c3e50;
  }
  
  /* Set navbar link color and underline on hover */
  #mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #1abc9c;
    border-bottom: 3px solid;
  }
  
  #mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #1abc9c;
    border-bottom: 3px solid;
    background: white;
  }
  
  @media (min-width: 992px) {
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
      color: #1abc9c;
      border-bottom: 3px solid;
      background: white;
    }
  }
  
  /* Increase top margin of divider line to align with icon */
  .divider-custom-line {
    margin-top: 1.75rem;
  }
  
  /* Increase icon size in social buttons */
  .btn-social {
    font-size: 1.5rem;
  }
  
  /* ------------------------------------------------------------------------------------------------------------------- */
  /* Add new components
  /* ------------------------------------------------------------------------------------------------------------------- */
  
  /* Add divider-primary class to set dividers to primary color */
  .divider-custom.divider-primary .divider-custom-line {
    background-color: #1abc9c;
  }
  
  .divider-custom.divider-primary .divider-custom-icon {
    color: #1abc9c !important;
  }
  
  /* Center text landing over previous element */
  #textlanding {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
  }
  
  /* Move arrow near bottom of section */
  #arrowlanding {
    position: absolute;
    top: 95%;
    right: 50%;
    transform: translate(50%,-50%);
  }
  
  /* Set arrow color */
  #arrowlanding a {
    color: #2c3e50;
  }
  
  /* Set arrow color on hover */
  #arrowlanding a:hover {
    color: #1abc9c;
  }
  
  /* Ensure particles span entire section */
  #particles-js {
    width: 100%;
    /* height: 100%; */
    /* background-color: white; */
    background-image: url('');
    background-size: cover;
    /* background-position: 50% 50%; */
    background-repeat: no-repeat;
  }