---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.theme_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "code-copy";
// @import
//   "minima/skins/{{ site.minima.skin | default: 'classic' }}",
//   "minima/initialize";
