.make-me-sticky {
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
}

.bottom-shadow {
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .35), inset 0 -1px 0 rgba(0, 0, 0, .15);
}

#TableOfContents {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// https://designkojo.com/add-ellipse-truncated-text-css-single-line-and-multi-line-options


// Floating back to top button

#backToTopBtn { 
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: $primary; /* Set a background color */
    color: inherit; /* Text color */
    opacity: 25%;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius:10px;/* Rounded corners */
    font-size:18px;/* Increase font size */
  }
    
  #backToTopBtn:hover { 
    background-color: #555; /* Add a dark-grey background on hover */ 
    opacity: 100%;
  }

.img {
    display: inline-block;
}

// #box {
//     background:url('data:image/gif;base64,R0lGODlhBgAGAIAAAO7u7t7e3iH5BAAAAAAALAAAAAAGAAYAAAIKhIOXgKGuDIOzAAA7') #eeeff1;
//   }

// body {font-size:12px; background:#ffe;}
//   body,
//   textarea		{text-align:center; font-family:arial;}

//   input			{}
//   input[type='number'],
//   input[type='color']	{width:5em;}
//   input[type='number']	{padding:0.25em; text-align:right;}
//   select			{width:9em; font-size:11px; padding:0.25em 0.2em;}
//   option			{padding:0.25em 0.2em;}
//   textarea		{resize:none; padding:2.5em; color:#358; background:#eef2f4; font-size:2em; border:0; width:100%;}

  

//   #set			{user-select:none; background:#fff; overflow:hidden;}
//   #set table		{border-collapse:collapse; padding:2em; font-size:11px; text-transform:uppercase; margin:2em auto;}
//   #set th,
//   #set td			{padding:0.4em 0.5em;}
//   #set th			{text-align:right; color:#567;}
//   #set td			{text-align:left;}


//   /* res beautifier */
//   #res		    	{color:#789; padding:2em; text-align:left; font-family:'Lucida Console', Monaco, monospace;}
//   #res b			{font-weight:normal;}
//   #res i			{font-style:normal;}
//   #res .obj	    	{color:#789;}
//   #res .obj b		{color:#345; font-weight:bold;}
//   #res .key	    	{color:#45a;}
//   #res .num	    	{color:#12a;}
//   #res .txt	    	{color:#9ab;}
//   #res .txt i		{color:#384;}
//   #res .clr	    	{color:#9ab;}
//   #res .clr i		{color:#731;}
//   #res a			{color:#67a;}
//   #res a:hover		{color:#67e;}


//   #box			{overflow:hidden; position:relative; height:300px; padding:3em;}
//   #box svg		{display:block; position:absolute; right:50%; bottom:50%; transform:translate( 50%, 50%); cursor:pointer;}
//   #box svg		{max-width:100%; max-height:100%;}


//   /* minimized options for small screen */
//   .opt			{display:block; padding:1em; background:#0ae; color:#fff; text-decoration:none;}
//   .opt:hover		{background:#0af;}

//   #op2.opt		{background:#ea0;}
//   #op2.opt:hover		{background:#fa0;}

//   #set table,
//   #set .legend,
//   #set #op2.opt,
//   #set.show #op1.opt	{display:none;}

//   #set.show table		{display:table;}
//   #set.show #op2.opt	{display:block;}

// @media (min-width: 620px) {

//   html,
//   body,			
//   #box,
//   #set,
//   #txt,
//   #msg,
//   #hnt			{display:block; position:absolute; top:0; right:0; left:0; bottom:0;}

//   html,
//   body			{overflow:hidden;}
//   #box			{height:auto;}

//   #txt,
//   #hnt			{height:250px; top:auto; border-top:3px #eee solid;}

//   #set,
//   #hnt			{width:270px; left:auto;}
//   #set table		{font-size:10px;}

//   #box,
//   #txt			{right:270px}

//   #box,
//   #set			{bottom:250px;}

//   #hnt			{overflow:auto;}
//   #msg			{width:100%; height:100%;}

//   #set			{overflow-y:auto;}
//   #set .legend		{display:block;}
//   #set table		{display:table;}
//   #set .opt		{display:none !important;}
// }

// @media (min-width:900px) {

//   #set,
//   #hnt			{width:30%}
//   #box,
//   #txt			{right:30%}
// }

// @media (min-width:1024px) {

//   #set table		{font-size:11px;}
// }

// @media (min-width:1600px) {

//   #set,
//   #hnt			{width:480px}
//   #box,
//   #txt			{right:480px}
// }

//   .legend			{padding:1.5em 0.5em; border-bottom:1px #eee solid;}
