---
layout: default
---

<!-- collection.html  -->
<div class="dev-settings collapsed collapse">
  <button type="button" class="btn btn-primary">
    <a href="#index-section">
      go-to-index
    </a>
  </button>
</div>
{{ content }}

{% assign entries = site[page.collection] %}
{% assign entries = entries | sort: page.sort_order %}
{% if page.sort_order == 'reverse' %}
{% assign entries = entries | reverse %}
{% endif %}

<!-- Loop through collection and summarize  -->
<div class="row">
  <h2 id="index-section">
    Index
  </h2>
  {%- for post in entries -%}
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title " itemprop="headline">
          <a class="card-link" href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
        </h5>
        <p class="card-text" itemprop="description">
          {{ post.excerpt | strip_html | truncate: 160 }}
        </p>
      </div>
    </div>  
  </div>
  {%- endfor -%}
</div>