---
layout: default
---
<!-- layout: collection -->
{{ content }}

{% assign entries = site[page.collection] %}
{% assign entries = entries | sort: page.sort_order %}
{% if page.sort_order == 'reverse' %}
{% assign entries = entries | reverse %}
{% endif %}

<!-- Loop through collection and summarize  -->
<h2 id="index-collection">
  Collection Index - {{ page.collection }}
</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
  
  {%- for post in entries -%}
  <div class="col">
    <div class="card h-100">
      {%- if post.preview -%}
      <img src="{{ site.public_folder }}/{{ post.preview}}" class="card-img-top" alt="page preview image">
      {% else %}
      <img src="{{ site.teaser }}" class="card-img-top" alt="page preview image">
      {%- endif -%}
      <div class="card-body">
        <h5 class="card-title " itemprop="headline">
          <a class="card-link" href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
        </h5>
        <p class="card-text" itemprop="description">
          {{ post.excerpt | strip_html | truncate: 160 }}
        </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary post-meta">Last updated {{ post.lastmod | date: '%B %d, %Y' }}</small>
      </div>
    </div>  
  </div>
  {%- endfor -%}
</div>
