---
layout: default
---

<!-- Journals Layout -->

<div id="main" role="main">


  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>

<!-- giscus app - Feature # FR000001 -->

<script src="https://giscus.app/client.js"
        data-repo="bamr87/it-journey"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyODM4MjI1NzM="
        data-category-id="DIC_kwDOEOrJ7c4CAn8D"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>